# dependencies
node_modules/
.pnp
.pnp.js

# astro generated types
.astro/

# builds / next.js (future)
.next/
out/
build/
dist/

# env
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# os / editor
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/
